h2{
    padding-top: 14px;  
    border-top: 1px solid #94918f;
}


p{
    font-size: 0.7em;
}


/*class*/



.noborder{
    border-top: 0px solid #94918f;
}


.portfolio{
    text-decoration: none;
}

.portfolio:hover{
    text-decoration: none;
}

.underline{
    font-family: Jolyita;
    font-size: 1em;
    text-decoration: line-through;
    text-decoration-thickness: 8px;
    text-decoration-color: rgba(233, 249, 91, 0.278) ; 
    display: inline;
}
