  
a{
    text-decoration: none;
    color: black;
}

a.italic {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

body {
    background-color: white;
    /*font-family: 'cako', Arial, sans-serif;*/
    margin: 0; /* Supprime les marges par défaut */
    padding: 0;
    min-height: 100vh; /* Hauteur de la fenêtre */
    min-width: 100vw; 
   /* overflow:hidden;*/
  }

  body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  /*
   .blog-header-container ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge 
  }
*/
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}


h2{
    font-size: 1.8vh;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid black;
    margin-bottom: 3vh;
    padding-bottom: 0.5vh;
}

h3{
    font-size: 2vh;
    font-family: 'cako', Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid black;
    margin-bottom: 3vh;
    padding-bottom: 0.5vh;
    text-transform: uppercase;
}

h4{
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid black;
    margin-bottom: 3vh;
    padding-bottom: 0.5vh;
    text-transform: lowercase;
}

h5{
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: bolder;*/
    font-style: italic;
    margin-bottom: 1.8vh;
    padding-bottom: 0.5vh;
}


p, ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
}


.arrow{
 font-size: 2vh;
 margin-left: 30px;
 justify-content: flex-end;
 
}

.blog-header-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.menu{
    margin-bottom: 1.9vh;
}



.lien{
    font-family: cako-italic;
    font-size: 1.8vh;
}


.btn {
    border: 0.5px solid black;
    margin: 10px 10px 10px 10px;
}

 /*
.btn-custom {
    border: 0.5px solid black;
    padding: 5px 10px;
    border-radius: 30px;
    font-style: italic;
    background: none;
}*/

.biblio{
    font-family: Arial, Helvetica, sans-serif;
}

.card-img-right {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card{
  border: 0.5px solid black; 
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.content {
    min-height: 100vh;
  }

.right,.left, .center{
    padding: 20px 20px 20px 20px;
}

.sidebar {
    position: fixed;
}

.right{
    padding-right: 2vw;
}

.knit {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid black;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.lineleft {
    height: 100%;
    border-left: 0.5px solid black ;
}


.lineright {
    height: 100%;
    border-right: 0.5px solid black ;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: black;
    
    }

.titre {
    font-size: 3vh;
    padding: 0.4vh 0px 0px 0vw;
    margin: 0px 0px 0px 0vw;
}
.sous-titre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    text-indent: 1em;
    padding: 0px 0px 0px 0vw;
    margin: 0px 0px 0px 0vw;
}

.section {
    padding: 0px 0px 0px 2vw;
    margin-bottom: 30px;
  }

.soussection {
    padding: 0px 0px 0px 2vw;
    margin-bottom: 2px;
  }

.soussoussection{
    margin-top: 2vh;
}

.linebottom{
    padding: 15px;
    border-bottom: 0.5px solid black;
}
 
.lefttext{
    font-size: 1.8vh;
    padding: 0.5vh 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.projet{
    text-decoration: none;
    color: #000;
}

.projectlist{
    list-style: none;
    font-family: Cako;
    font-size: 1.8vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 6%; /* 0.96px */
    text-underline-offset: 16%; /* 2.56px */
    text-underline-position: from-font;
    text-transform: lowercase;
    margin-bottom: 1.2vh;
    }

