
@font-face {
    font-family:'cako' ;
    src: url("../../static/types/cako-regular.ttf");
  }
  
 

body {
    background-image:url("../iconographies/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
    position: relative;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0;
    height: 100vh; /* Hauteur de la fenêtre */
    font-family: cako;
    
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

#nom{
    color: #1DD767;
    width: 390vh;
    height: 30vh;
    transform: rotate(90deg);
}

div {
    width: 100%; /* Pour s'assurer qu'il est responsive */
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-align: center; /* Centre le texte dans son conteneur */
}

