
@font-face {
    font-family:'cako' ;
    src: url("../../static/types/cako-regular.ttf");
  }
  
 

body {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0;
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Hauteur de la fenêtre */
    text-align: center; /* Centre le texte dans son conteneur */
}

div {
    width: 100%; /* Pour s'assurer qu'il est responsive */
}

a {
    font-family: cako;
}